@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=Oswald:wght@300;400&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
}

/*Common styling*/
.card {
  box-shadow: 0 0 2px gray;
  background-color: aquamarine;
}

.authentication .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(149, 149, 228);
  height: 40px;
  padding: 5px 20px;
  margin-left: -30px;
  border-bottom-left-radius: 10px;
}

.normal-text{
  font-size: 1rem;
}

.primary-button{
  font-size: 1rem;
  height: 40px;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(154, 154, 178) !important;
}

.anchor{
  text-decoration: underline;
}

/*Antd override*/

input{
  border: 2px solid orange !important;
  height: 40px !important;  /*!important is written to override*/
}

input:focus{
  border: 1px solid !important;
}

/* authentication pages*/

.authentication {
  height: 100vh;
  background-image: linear-gradient(to right,blueviolet,violet);
  display: grid;
  align-items: center;
  justify-content: center;
}

.authentication-form{
  width: 400px;
}


/*Home page*/
.home-container {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9; 
  width: 100vw;
}

.header-image {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
}

.home-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.home-box {
  flex: 1;
}

.home-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.home-card-buy {
  background-color: #cce6ff; 
}

.home-card-rent {
  background-color: #e6ffb3; 
}

.home-box-text {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333; 
}

.home-link {
  text-decoration: none;
  color: #1976d2; 
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .home-box {
    width: 100%;
    margin-bottom: 20px;
  }
}


/*Profile page*/

.profilepageCard{
  display: grid;
  justify-content: center;
  padding-right: 15%;
  background-image: linear-gradient(to right,blueviolet,violet);
}

.profilegrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right,blueviolet,violet);
  height: 50vh;
}

.profileflex {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.profileroutes {
  margin: 0 10px;
}

.profileroutes a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eaeaea;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.profileroutes a:hover {
  background-color: #333;
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.form-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0062cc;
}




/* Styling for input field */
.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styling for submit button */
.primary-button {
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.primary-button:hover {
  background-color: #1565c0;
}

@media (max-width: 768px) {
  /* Adjust styles for screens up to 768px wide (e.g., tablets and mobile devices) */
  .ant-form-item {
    margin-bottom: 16px;
  }
}

.input-group {
  display: flex;
}

.input-item {
  flex: 1;
  margin-right: 16px; /* Add some space between the items */
}



@media (max-width: 768px) {
  .custom-form {
    width: 100vw; 
    padding: 0 20px; 
  }
}




/*  Loading Spinner  */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100vw; 
  background-color: #E6E6FA;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; 
}




/* Individual property pages */


.hostel-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.hostel-info {
  display: flex;
  width: 80vw;
  height: 80vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.hostel-image {
  width: 50vw;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.hostel-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.hostel-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail-item {
  margin-bottom: 10px;
}

.detail-item strong {
  font-weight: bold;
}
